* {
    margin: 1;

    padding: 1;
}

nav {
    background-color: gray;

    padding: 5px;

}

nav a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3px;
    color: white;

}

body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

main {
    max-width: auto;
    margin: auto;
}

p {
    padding: 0;
}

main img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px #050303;
    margin: 1px;
    padding: 1px;
    border: #050303;
}

h1 {

    color: black;
    padding: 10px;

    text-align: left;
    font-size: 1.5;
    border-bottom: 1px rgb(19, 18, 17);
}

aside {
    width: 20rem;
    margin: 1px;
    border: 1px solid black;
    padding: 1em;
    background-color: rgb(218, 208, 208);
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}